<h1>"<%= @board_user.nickname %>"さんの情報</h1>
<table>
<tr>
  <th>ニックネーム:</th>
  <td><%= @board_user.nickname %></td>
</tr>

<tr>
  <th>Id:</th>
  <td><%= @board_user.id %></td>
</tr>

<tr>
  <th>登録日:</th>
  <td><%= @board_user.created_at %></td>
</tr>

<tr>
  <th>自己紹介:</th>
  <td><%= @board_user.memo %></td>
</tr>
</table>

<hr>
<%= link_to '<< 戻る',controller: :board_messages %>
<hr>
